<mat-grid-list cols="1.5">
  <mat-grid-tile>
    <mat-card id="blind" style="text-align: center;">
      <mat-card-content>
        <mat-card-title>
          Blind Signature
        </mat-card-title>
        <form [formGroup]="bsForm">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Write message to sign</mat-label>
              <label>
                <input matInput placeholder="Message" formControlName="bsm" [(ngModel)]="bsm">
              </label>
              <mat-icon matSuffix></mat-icon>
            </mat-form-field><br/>
            <button mat-raised-button color="primary" style="margin-right:5px;" (click)="blindSignature()" [disabled]="!bsForm.valid">Test Blind Signature</button>
            <mat-list>
              <mat-list-item>
              <mat-label>Blind Message:<br></mat-label>
              </mat-list-item>
              <mat-list-item>
                <label>
                  <textarea id="blind-message" matInput></textarea>
                </label>
              </mat-list-item>
              <mat-list-item>
                <mat-label>Blind Signature:<br></mat-label>
              </mat-list-item>
              <mat-list-item>
                <label>
                  <textarea id="blind-signature" matInput></textarea>
                </label>
              </mat-list-item>
              <mat-list-item>
                <mat-label>Verified Text:<br></mat-label><br>
              </mat-list-item>
              <mat-list-item>
                <label>
                  <textarea id="blind-clear-text" matInput ></textarea>
                </label>
              </mat-list-item>
            </mat-list>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card id="sign" style="text-align: center;">
      <mat-card-content>
        <mat-card-title>
          Signature
        </mat-card-title>
        <form [formGroup]="sForm">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Write message to sign</mat-label>
              <label>
                <input matInput placeholder="Message" formControlName="sm" [(ngModel)]="sm">
              </label>
              <mat-icon matSuffix></mat-icon>
            </mat-form-field><br/>
            <button mat-raised-button color="primary" style="margin-right:5px;" (click)="getSignature()" [disabled]="!sForm.valid">Test Signature</button>
            <mat-list>
              <mat-list-item>
                  <mat-label>Signature:<br></mat-label>
              </mat-list-item>
              <mat-list-item>
                <label>
                  <textarea id="signature" matInput></textarea>
                </label>
              </mat-list-item>
              <mat-list-item>
                <mat-label>Verified Text:<br></mat-label><br>
              </mat-list-item>
              <mat-list-item>
                <label>
                  <textarea id="signature-clear-text" matInput>{{sClearText}}</textarea>
                </label>
              </mat-list-item>
            </mat-list>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card id="crypto" style="text-align: center;">
      <mat-card-content>
        <mat-card-title>
          Encrypt
        </mat-card-title>
        <form [formGroup]="encForm">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Write message to encrypt</mat-label>
              <label>
                <input matInput placeholder="Message" formControlName="em" [(ngModel)]="em">
              </label>
              <mat-icon matSuffix></mat-icon>
            </mat-form-field><br/>
            <button mat-raised-button color="primary" style="margin-right:5px;" (click)="encryption()" [disabled]="!encForm.valid">Test Encryption/Decryption</button>
            <mat-list>
              <mat-list-item>
                <mat-label>Encrypted message:<br></mat-label>
              </mat-list-item>
              <mat-list-item>
                <label>
                  <textarea id="crypto-message" matInput></textarea>
                </label>
              </mat-list-item>
              <mat-list-item>
                <mat-label>Decrypted Text:<br></mat-label><br>
              </mat-list-item>
              <mat-list-item>
                <label>
                  <textarea id="crypto-clear-text" matInput></textarea>
                </label>
              </mat-list-item>
            </mat-list>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card id="secret-sharing">
      <mat-card-content>
        <mat-card-title>
          Shamir's secret sharing
        </mat-card-title>
        <h3 class="center">{{welcome}}</h3>
        <mat-list>
          <mat-list-item>
            <mat-label>Slice:<br></mat-label>
            <textarea>{{slice}}</textarea>
          </mat-list-item>
          <mat-list-item>
            <mat-label>Secret:<br></mat-label>
            <textarea>{{secret}}</textarea>
          </mat-list-item>
          <mat-list-item>
            <mat-label>Recovered:<br></mat-label>
            <textarea>{{recovered}}</textarea>
          </mat-list-item>
        </mat-list>
        <button mat-raised-button color="primary" style="margin-right:5px;margin-top: 10%"
                (click)="sendSlice()" [disabled]="!enableSend" >Send my slice and try to recover</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
