mat-card {
  background-color: whitesmoke;
  width: 100%;
  child-align: auto;
  margin-right: 25%;
  margin-left: 25%;
}

mat-card-content {
  padding: 5%;
  text-align: center;
}

mat-card-title {
  padding: 2%;
  text-align: center;
  font-size: 24px;
}

mat-label {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.full-width {
  width: 100%;
  text-align: center;
  margin: 5%;
}


