<mat-grid-list cols="1">
  <mat-grid-tile>
    <mat-card id="blind" style="text-align: center;">
      <mat-card-content>
        <mat-card-title>
          Homomorphic-poll
        </mat-card-title>
        <form [formGroup]="pollForm">
          <div class="form-group">
            <button mat-raised-button color="primary" (click)="voteA()">Vote A</button><label *ngIf="clicked == true">{{votesA}}</label><br>
            <button mat-raised-button color="primary" (click)="voteB()">Vote B</button><label *ngIf="clicked == true">{{votesB}}</label> <br>
            <button mat-raised-button color="primary" (click)="voteC()">Vote C</button><label *ngIf="clicked == true">{{votesC}}</label> <br>
          </div>
        </form>
        <div>
        <button mat-raised-button id="recountVotes" color="primary" *ngIf="votesA!=0 || votesB!=0 || votesC!=0" (click)="recountVotes()">Recount Votes</button>
        <p *ngIf="clicked == true">Results: {{totalDecrypted}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
